n8n/init/workflow-template.json
{
  "name": "ServiceNow AI Helper V3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d8f43068-431e-405b-bdbb-e7dba6862299",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2340,
        620
      ],
      "id": "556ccaef-8a6d-4697-af40-61dcb16bb8c5",
      "name": "Initiate",
      "webhookId": "d8f43068-431e-405b-bdbb-e7dba6862298",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HEADER_AUTH_CREDENTIAL_ID",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"key\": \"{{ $json.key }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        -580,
        520
      ],
      "id": "732a0523-870f-4460-9bc4-9c6cddc46fb8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "recommendation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9944eee4-fb8d-4789-ae58-21f140280568"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recommendation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a0783dc7-3447-46d1-8b2d-eab4d0380856",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "documentation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "documentation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "792ea6eb-9469-4997-bf56-31cae02c2b98",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "script",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "script"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6c33437c-18de-4c89-8540-2552d0709698",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "troubleshoot",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "troubleshoot"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Invalid"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1900,
        580
      ],
      "id": "d9171477-5865-41ac-9a74-57437b81a2a9",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"unsupported type\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        -1680,
        1020
      ],
      "id": "2163b6bf-549d-4db5-9b00-efb533f9d6b6",
      "name": "Error Resposne"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fa670a1-4f6b-4ad2-9073-52137bfea731",
              "name": "prompt",
              "value": "={{ $json.prompt }}\n\n## Recommendation Mode\nProvide expert consulting guidance as if discussing with a client's leadership team.\n\n### Response Framework\n1. **Executive Summary** (2-3 sentences)\n   - Core recommendation with business impact\n   - Why this approach over alternatives\n\n2. **Solution Architecture**\n   - Technical approach aligned to ServiceNow best practices\n   - Key platform components and their interactions\n   - Integration points and dependencies\n\n3. **Implementation Roadmap**\n   - Phase 1: Quick wins (1-2 weeks)\n   - Phase 2: Core functionality (2-4 weeks)\n   - Phase 3: Optimization & scale (ongoing)\n\n4. **Critical Success Factors**\n   - Required configurations/customizations\n   - Resource requirements (roles, skills, time)\n   - Risk mitigation strategies\n   - Success metrics and KPIs\n\n### Consultant Priorities\n- **Business Value First**: Lead with outcomes, not features\n- **Practical Phasing**: Deliver value incrementally\n- **Future-Proofing**: Consider upgrade impacts and scalability\n- **Change Management**: Address adoption challenges upfront\n- **Alternative Approaches**: Briefly note why recommended approach beats alternatives\n\n### Coverage Areas\nPlatform Design | Process Optimization | User Experience | Integration Strategy | Security Model | Performance Tuning | Governance | ROI Justification\n\nFocus: Actionable recommendations with clear next steps. Avoid theoretical discussions.",
              "type": "string"
            },
            {
              "id": "8020e7be-bcb5-4e9e-874c-e61d3683a5b2",
              "name": "temperature",
              "value": 0.3,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        220
      ],
      "id": "27750666-7706-4d45-ba8b-f5be2e865973",
      "name": "Append Recommendation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4eaade8-28f5-4f5e-8226-04acdd6d84fd",
              "name": "prompt",
              "value": "={{ $json.prompt }}\n\n## Documentation Mode\nProvide authoritative guidance backed by official ServiceNow documentation.\n\n### Response Framework\n1. **Concept Summary** (2-3 sentences)\n   - What it is and primary use case\n   - Which ServiceNow module/capability it belongs to\n\n2. **Documentation Hierarchy**\n   - **Primary Reference**: Main product doc for this topic\n   - **Prerequisites**: Docs to read first (if applicable)\n   - **Deep Dives**: Advanced documentation for specific aspects\n   - **Examples**: Implementation guides or use cases\n\n3. **Learning Path**\nBeginner → [Doc 1: Basics] → [Doc 2: Configuration] → [Doc 3: Best Practices]\nAdvanced → [Doc 4: Architecture] → [Doc 5: Optimization]\n\n4. **Quick Reference**\n- API/Class references (if applicable)\n- Property/System settings\n- Related KB articles for common issues\n\n### Documentation Integration\nWhen referencing injected documentation:\n- Quote specific sections when critical\n- Highlight version-specific information\n- Note if docs apply to specific ServiceNow releases\n- Flag any deprecated approaches in older docs\n\n### Source Priority\n1. **Official Docs** (docs.servicenow.com) - Always primary\n2. **Knowledge Base** - For troubleshooting and edge cases\n3. **Community** - Only when official docs lack detail\n4. **Now Learning** - For structured learning paths\n\nFocus: Guide users through documentation efficiently. Assume docs are available via RAG - reference them naturally.",
              "type": "string"
            },
            {
              "id": "55c4e90c-d672-433a-864e-84ef644fcc69",
              "name": "temperature",
              "value": 0.1,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        420
      ],
      "id": "4f8bf7c4-abd8-4348-9c7e-de52041765ed",
      "name": "Append Documentation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36e3620f-39bc-41ea-a156-4aff6297a0bf",
              "name": "=prompt",
              "value": "={{ $json.prompt }}\n\n## Script Mode\nProvide a single, complete ServiceNow script solution focused on solving the specific problem.\n\n### Response Framework\n1. **Solution Summary** (2-3 sentences)\n   - What the script accomplishes\n   - Why this approach is best\n\n2. **The Script** (ONE primary solution)\n   ```javascript\n   // Complete, production-ready code\n   // Only essential comments for complex logic\n\nImplementation Guide\n\nWhere: Exact location (e.g., Business Rule on incident table)\nWhen: Trigger conditions (e.g., before insert, async)\nSetup: Required properties, roles, or dependencies\n\n\nCritical Considerations\n\nPerformance impact (if significant)\nError handling approach\nTesting checklist (2-3 key tests)\n\n\n\nScript Selection Rules\n\nONE Script First: Solve with a single script whenever possible\nSecond Script Only If: Client + Server required, or truly separate concerns\nNever: Multiple variations of the same solution\nAlways: The simplest approach that meets requirements\n\nCode Quality Standards\n\nServiceNow APIs only (no direct DB queries)\nGlide best practices (use GlideRecord, GlideAggregate appropriately)\nScope-aware (respect application boundaries)\nUpgrade-safe (no deprecated methods)\nPerformance-conscious (bulk operations, efficient queries)\n\nFocus: One excellent solution, not multiple options. Quality over quantity.",
              "type": "string"
            },
            {
              "id": "96ed3d9a-1fba-48fc-a77f-515dc9f0d121",
              "name": "max_tokens",
              "value": 3000,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        620
      ],
      "id": "d2a0ef23-4c93-4d0a-859a-d91d90afc4d0",
      "name": "Append Script"
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "key"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -1020,
        520
      ],
      "id": "fd631256-d97c-4bec-83eb-65f35630a7da",
      "name": "Generate Key"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0dad757f-358a-4f52-8990-1103696b3f5c",
              "name": "prompt",
              "value": "You are a ServiceNow expert providing concise, actionable guidance that prioritizes brevity while maintaining clarity and technical accuracy.\n\n## Core Principles\n- **Out-of-Box First**: Prioritize native functionality over customization\n- **Best Practices**: Follow ServiceNow's documented standards strictly\n- **Upgrade Safety**: Ensure recommendations survive platform updates\n- **Performance Focus**: Consider scalability and maintainability\n\n## Interaction Guidelines\n- **Clarification First**: If requirements are ambiguous, ask ONE specific question\n- **Assumptions**: State any assumptions made clearly\n- **Iterative Refinement**: Build upon previous responses in continued sessions\n- **Follow-up Format**: \"To provide the best solution, could you clarify: [specific question]?\"\n\n## Knowledge Integration Rules\n- **Never Reference Context**: Do not mention \"search context\", \"provided documentation\", \"available results\", or any reference to how information was obtained\n- **Seamless Integration**: Present all information as direct knowledge without attribution to sources\n- **Natural Response**: Write as if you inherently know the information\n- **Missing Information**: If specific details aren't available, simply state what you know without explaining why you don't know more\n\n### Examples:\nWRONG: \"Based on the search context provided, ServiceBridge is not explicitly detailed...\"\nRIGHT: \"ServiceBridge is a ServiceNow integration component that...\"\n\nWRONG: \"The documentation results don't mention this feature...\"\nRIGHT: \"This feature works by...\" or \"To implement this, you'll need to...\"\n\nWRONG: \"According to the provided context...\"\nRIGHT: [Direct answer without mentioning context]\n\n### When Information is Limited:\n- Provide what you know directly\n- Suggest related concepts if helpful\n- Never apologize for or explain gaps in provided content\n- Focus on actionable guidance with available information\n\nExamples of when to ask:\n- Multiple valid interpretations exist\n- Critical details missing (table names, field names, timing)\n- Performance requirements unclear for large data operations\n\n## Response Format\n1. **Direct Answer First** - Lead with the solution\n2. **Brief Explanation** - \"Why\" in 1-2 sentences maximum\n3. **Implementation Steps** - Only if essential\n4. **Best Practice Note** - When redirecting from poor approaches\n\n## Markdown Requirements\n- Headers: #, ##, ### for clear hierarchy\n- **Bold** for key terms and emphasis\n- Code blocks: ```javascript\n- Lists: Use - or * consistently\n- **Spacing**: Double newlines between ALL sections, before/after code blocks\n\n## Best Practice Redirection\nWhen redirecting from poor approaches:\n\"ServiceNow best practice is [solution] because [brief reason]. This ensures [key benefit].\"\n\n## Expertise Coverage\nPlatform Architecture, Development, Workflow/Automation, Integration, Security, Performance, ITSM/ITOM/HR/CSM, Upgrades, ALM\n\n## Response Guidelines\n- Be comprehensive but concise\n- Quality over quantity\n- Target: 200-300 words unless complexity requires more\n- Always use proper Markdown formatting with clear visual structure\n\n## Tone\n- Authoritative but approachable\n- Implementation-focused\n- Educational but concise\n\nIMPORTANT:\n- If you are giving code examples with GlideRecord objects, never name the variables gr. Name the variable something with a relation to the table being used, for instance grIncident for incidents.\n\nMANDATORY: Never reference how you obtained information. Never use phrases like \"based on\", \"according to\", \"search context\", \"provided documentation\", or similar. Respond with direct knowledge only.",
              "type": "string"
            },
            {
              "id": "772b4d4a-7147-400f-afcf-fa0651725313",
              "name": "model",
              "value": "",
              "type": "string"
            },
            {
              "id": "e10f1016-2e47-4ce6-8d36-1457d4249ee0",
              "name": "key",
              "value": "",
              "type": "string"
            },
            {
              "id": "71a817a0-5151-45d6-8431-70aa2022bee6",
              "name": "type",
              "value": "={{ $json.body.type }}",
              "type": "string"
            },
            {
              "id": "fce1ff07-c2a3-46b2-b36d-81193926bc68",
              "name": "expert",
              "value": "={{ $json.body.expert }}",
              "type": "boolean"
            },
            {
              "id": "d4af9534-d7cd-4a3a-821f-c8caa7c2215f",
              "name": "enable_thinking",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "43151627-1d9b-40b4-855d-69cfe30289e3",
              "name": "max_tokens",
              "value": 2500,
              "type": "number"
            },
            {
              "id": "43500782-d374-4687-a59e-7bf79b59dbad",
              "name": "top_p",
              "value": 0.9,
              "type": "number"
            },
            {
              "id": "9e960197-3ff2-4065-8b57-d87726905bba",
              "name": "top_k",
              "value": 40,
              "type": "number"
            },
            {
              "id": "b77f5b04-5dc2-43f8-a0e2-e5f9ec2c4cba",
              "name": "temperature",
              "value": 0.2,
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2120,
        620
      ],
      "id": "3cd32122-4a86-4194-8552-49cb3f221245",
      "name": "Set Basic Variables"
    },
    {
      "parameters": {
        "content": "## Intiate",
        "height": 1120,
        "width": 2100
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2460,
        60
      ],
      "id": "a61af2e4-0298-4e0c-b705-8cac8fc36459",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ServiceNowSupportTool",
          "mode": "list",
          "cachedResultName": "ServiceNowSupportTool"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key": "={{ $json.key }}",
            "state": "processing",
            "prompt": "={{ $json.prompt }}",
            "model": "={{ $json.model }}",
            "question": "={{ $('Initiate').item.json.body.question }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "key",
              "displayName": "key",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response",
              "displayName": "response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -800,
        520
      ],
      "id": "140685ec-821e-42f8-ae3a-5ffd761de685",
      "name": "Create Work Record",
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Response",
        "height": 440,
        "width": 1440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2580,
        1560
      ],
      "id": "6955f142-903a-4f92-93c7-7b32f7f4de0f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "688f7e3f-3a7c-44b5-a0bc-a792fb684ce6",
              "leftValue": "=done",
              "rightValue": "={{ $('Query workitem').item.json.state }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1680,
        1740
      ],
      "id": "01b4f7ff-8f67-4744-a08a-ff5580b78d95",
      "name": "If"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3d871efe-423d-422d-b431-33a1f8888e2c",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2340,
        1740
      ],
      "id": "bb6bf75e-8f2e-48e6-8504-38213382dfae",
      "name": "Poll result",
      "webhookId": "3d871efe-423d-422d-b431-33a1f8888e2b",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HEADER_AUTH_CREDENTIAL_ID",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "81566dfc-3c70-4c9c-98c7-5a415a63d940",
              "name": "databaseKey",
              "value": "={{ $json.body.key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2120,
        1740
      ],
      "id": "f5c482f2-cb60-43e5-b5d6-a68ac5b2e90c",
      "name": "Set database key"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ServiceNowSupportTool",
          "mode": "list",
          "cachedResultName": "ServiceNowSupportTool"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "key",
              "value": "={{ $json.databaseKey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1900,
        1740
      ],
      "id": "16a4a558-4004-4ada-868c-b6313adba25a",
      "name": "Query workitem",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"state\": \"done\",\n  \"message\": {{ $json.response.toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        -1460,
        1640
      ],
      "id": "7e2b6bb5-ff3a-4f8c-961f-10108a8d7be1",
      "name": "Return result"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"state\": \"processing\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        -1460,
        1840
      ],
      "id": "ee35662c-5df7-41e6-97af-0cde62ddaf57",
      "name": "Return status"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36e3620f-39bc-41ea-a156-4aff6297a0bf",
              "name": "=prompt",
              "value": "={{ $json.prompt }}\n\n## Troubleshooting Mode\nSystematically diagnose and resolve ServiceNow issues using platform-native tools and methods.\n\n### Diagnostic Framework\n1. **Issue Classification**\n   - **Symptoms**: What's happening vs. expected behavior\n   - **Scope**: Single user/record vs. system-wide\n   - **Timing**: When it started (after upgrade? config change?)\n   - **Severity**: Production down vs. minor inconvenience\n\n2. **Root Cause Analysis**\nStep 1: Check System Logs (filter by time/user/transaction)\nStep 2: Review Debug Output (session debug, SQL logs)\nStep 3: Validate Configuration (compare to baseline/OOB)\nStep 4: Test in Isolation (impersonate user, test instance)\n\n3. **Solution Path**\n- **Immediate Fix**: Workaround to restore service\n- **Root Fix**: Permanent solution addressing cause\n- **Implementation**: Specific steps with rollback plan\n\n4. **Verification & Prevention**\n- **Test**: Specific scenarios to confirm resolution\n- **Monitor**: What to watch for next 24-48 hours\n- **Prevent**: Configuration/process changes to avoid recurrence\n\n### ServiceNow Diagnostic Tools\n- **System Diagnostics**: Debug modules, performance analytics\n- **Session Debugging**: Enable for specific user/transaction\n- **Flow Debugger**: For workflow/flow designer issues\n- **Script Debugger**: For business rule/script include problems\n- **Update Set Preview**: For deployment-related issues\n- **Instance Scan**: For best practice violations\n\n### Escalation Triggers\nIf these occur, recommend ServiceNow support:\n- Production data corruption\n- Platform-level errors (Java stack traces)\n- Upgrade rollback scenarios\n- Security breaches\n\nFocus: Methodical diagnosis before solution. Use ServiceNow's native tools. Document findings for knowledge base.",
              "type": "string"
            },
            {
              "id": "d2294647-4c10-4729-869a-040f627f5c86",
              "name": "temperature",
              "value": 0.3,
              "type": "number"
            },
            {
              "id": "03f86893-67c9-4fc7-b5a1-e37aad107aff",
              "name": "enable_thinking",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        820
      ],
      "id": "c2a548d9-0cc7-414d-a849-700643f5cadd",
      "name": "Append Troubleshoot"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "snhelper-add-qa-pair",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2340,
        1380
      ],
      "id": "596df78e-e6e8-43a3-9abd-8011d57bda17",
      "name": "Add QA Pair Webhook",
      "webhookId": "add-qa-pair-webhook-id",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HEADER_AUTH_CREDENTIAL_ID",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-data",
              "name": "question",
              "value": "={{ $json.body.question }}",
              "type": "string"
            },
            {
              "id": "extract-answer",
              "name": "answer",
              "value": "={{ $json.body.answer }}",
              "type": "string"
            },
            {
              "id": "extract-category",
              "name": "category",
              "value": "={{ $json.body.category || 'general' }}",
              "type": "string"
            },
            {
              "id": "extract-tags",
              "name": "tags",
              "value": "={{ $json.body.tags || [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2120,
        1380
      ],
      "id": "d16a7151-2062-4770-84db-464cffab06fd",
      "name": "Extract QA Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $json.question }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1900,
        1380
      ],
      "id": "d9a1a556-04eb-4c36-b20e-8acdc9948281",
      "name": "Generate Question Embedding",
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $('Extract QA Data').item.json.answer }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1680,
        1380
      ],
      "id": "b073252b-ad48-4d0e-b3dc-1420846efe05",
      "name": "Generate Answer Embedding",
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "combine-embeddings",
              "name": "question_embedding",
              "value": "={{ $('Generate Question Embedding').item.json.data[0].embedding }}",
              "type": "array"
            },
            {
              "id": "combine-answer-embedding",
              "name": "answer_embedding",
              "value": "={{ $('Generate Answer Embedding').item.json.data[0].embedding }}",
              "type": "array"
            },
            {
              "id": "combine-question",
              "name": "question",
              "value": "={{ $('Extract QA Data').item.json.question }}",
              "type": "string"
            },
            {
              "id": "combine-answer",
              "name": "answer",
              "value": "={{ $('Extract QA Data').item.json.answer }}",
              "type": "string"
            },
            {
              "id": "combine-category",
              "name": "category",
              "value": "={{ $('Extract QA Data').item.json.category }}",
              "type": "string"
            },
            {
              "id": "combine-tags",
              "name": "tags",
              "value": "={{ $('Extract QA Data').item.json.tags }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1460,
        1380
      ],
      "id": "662fb012-70f8-4866-b5f6-5eec99759321",
      "name": "Combine Data"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "qa_knowledge_base",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "question": "={{ $json.question }}",
            "answer": "={{ $json.answer }}",
            "question_embedding": "={{ JSON.stringify($json.question_embedding) }}",
            "answer_embedding": "={{ JSON.stringify($json.answer_embedding) }}",
            "category": "={{ $json.category }}",
            "tags": "={{ JSON.stringify($json.tags) }}"
          },
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "question",
              "displayName": "question",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "answer",
              "displayName": "answer",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "question_embedding",
              "displayName": "question_embedding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "answer_embedding",
              "displayName": "answer_embedding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1240,
        1380
      ],
      "id": "9b38c97d-2356-4bf9-baa0-172b1c27e89e",
      "name": "Save to Database",
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Embeddings",
        "height": 260,
        "width": 1980,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2620,
        1280
      ],
      "typeVersion": 1,
      "id": "2b003844-b53f-4737-b23c-f2e9e7c3c72e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"QA pair saved successfully\",\n  \"id\": {{ $json.id }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1020,
        1380
      ],
      "id": "1b8cf0d0-84f2-4e65-9438-e2d9e546d9c4",
      "name": "Success embedding response"
    },
    {
      "parameters": {
        "content": "## Async Processing",
        "height": 1280,
        "width": 3580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -500,
        -200
      ],
      "id": "bf0a89d6-438b-45ef-91cf-0b3fb6464ece",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ServiceNowSupportTool",
          "mode": "list",
          "cachedResultName": "ServiceNowSupportTool"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key": "={{ $('Respond to Webhook').first().json.key }}",
            "response": "={{ $json.output }}",
            "state": "done"
          },
          "matchingColumns": [
            "key"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "key",
              "displayName": "key",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "response",
              "displayName": "response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2860,
        100
      ],
      "id": "cff809fa-8dcf-42e2-93df-4dd1cb1e4f01",
      "name": "Save response",
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "messages",
              "value": "={{ [\n  {\n    \"role\": \"system\",\n    \"content\": \"You are a ServiceNow search query optimizer. Transform user questions into effective ServiceNow search terms by:\\n\\n1. Extract key ServiceNow concepts, features, modules, and terminology\\n2. Add relevant ServiceNow-specific keywords\\n3. Include common synonyms and technical terms\\n4. Focus on searchable terms that would appear in documentation\\n5. Remove conversational words and focus on technical content\\n\\nExamples:\\n- 'How do I create a user?' → 'ServiceNow create user account sys_user table administration'\\n- 'Business rule vs workflow' → 'ServiceNow business rule workflow comparison scripting automation'\\n- 'ACL vs query business rule' → 'ServiceNow ACL access control list query business rule security permissions'\\n\\nReturn ONLY the optimized search query, nothing else. Keep it to 3 to 4 words or terms maximum. Do not include the word ServiceNow.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"Question type: \" + $('Initiate').first().json.body.type + \"\\nUser question: \" + $('Initiate').first().json.body.question\n  }\n] }}"
            },
            {
              "name": "max_tokens",
              "value": 100
            },
            {
              "name": "temperature",
              "value": 0.1
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        560
      ],
      "id": "ba7983df-5245-4c22-aa10-cf641dfce44e",
      "name": "Search Query Optimizer",
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "search-query-1",
              "name": "searchQuery",
              "value": "={{ $json.choices[0].message.content.trim() }}",
              "type": "string"
            },
            {
              "id": "search-query-2",
              "name": "questionType",
              "value": "={{ $('Initiate').item.json.body.type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        560
      ],
      "id": "48f43055-b759-4710-a185-b451452f5743",
      "name": "Search Query Prep"
    },
    {
      "parameters": {
        "url": "=https://www.servicenow.com/community/s/plugins/custom/servicenow/servicenow/sn.search-ais-ep-settings-config",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.searchQuery }}"
            },
            {
              "name": "filters",
              "value": "[{\"label\":\"Sources\",\"value\":\"Knowledge Articles\"}]"
            },
            {
              "name": "sourcers",
              "value": "[\"eddd7b40976d9e10145979c11153af54\"]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        360
      ],
      "id": "e571340c-f3a3-4092-bccf-2dc01791c1e2",
      "name": "ServiceNow KB Search"
    },
    {
      "parameters": {
        "url": "=https://www.servicenow.com/community/s/plugins/custom/servicenow/servicenow/sn.search-ais-ep-settings-config",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.searchQuery }}"
            },
            {
              "name": "filters",
              "value": "[{\"label\":\"Sources\",\"value\":\"Developer Program\"},{\"label\":\"Release\",\"value\":\"Yokohama\"}]"
            },
            {
              "name": "sourcers",
              "value": "[\"f36dbb00976d9e10145979c11153af8d\",\"b86dff00976d9e10145979c11153afda\",\"7d6cebc897e99e10145979c11153afe3\",\"dacdfb40976d9e10145979c11153aff8\"]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        560
      ],
      "id": "5438623d-b833-42dd-9c41-6e55ba115954",
      "name": "Developer Portal Search"
    },
    {
      "parameters": {
        "url": "https://www.servicenow.com/community/s/plugins/custom/servicenow/servicenow/sn.search-ais-ep-settings-config",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.searchQuery }}"
            },
            {
              "name": "filters",
              "value": "[{\"label\":\"Sources\",\"value\":\"Community\"}]"
            },
            {
              "name": "sourcers",
              "value": "[\"community_articles\",\"community_discussions\"]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        760
      ],
      "id": "b8df2317-8d55-4d63-83b9-827648ed7ed1",
      "name": "Community Search"
    },
    {
      "parameters": {
        "url": "https://store.servicenow.com/sn_appstore_store.do#search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.searchQuery }}"
            },
            {
              "name": "category",
              "value": "all"
            },
            {
              "name": "sort",
              "value": "relevance"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        960
      ],
      "id": "93adb4f3-b4f1-41de-9b81-f554aae738e8",
      "name": "ServiceNow Store Search"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        820,
        520
      ],
      "id": "5fd461ea-8eef-4a20-8dfc-5a9b89082b90",
      "name": "Search Results Collector"
    },
    {
      "parameters": {
        "jsCode": "// Process and extract key information from all merged search results\n  const results = [];\n  const sourceNames = ['ServiceNow Knowledge Base', 'Developer Portal', 'Documentation', 'Community', 'ServiceNow Store', 'Now Learning'];\n\n  // Process each search result item\n  for (let i = 0; i < $input.all().length; i++) {\n    const item = $input.all()[i];\n    if (item.json) {\n      const sourceName = sourceNames[i] || `Source ${i + 1}`;\n\n      // Handle ServiceNow KB and Developer Portal API responses\n      if (item.json.search_content && item.json.search_content.result && item.json.search_content.result.searchResults) {\n        for(let j = 0; j < Math.min(item.json.search_content.result.count, 3); j++) {\n          const searchResult = item.json.search_content.result.searchResults[j];\n          if (searchResult && searchResult.columns && searchResult.columns[1] && searchResult.columns[4]) {\n            results.push({\n              source: sourceName,\n              content: extractContent(searchResult.columns[1].value, sourceName.toLowerCase().replace(' ', '_')),\n              url: searchResult.columns[4].value\n            });\n          } else {\n            // Fallback if columns structure is different\n            results.push({\n              source: sourceName,\n              content: `Content from ${sourceName} - ${JSON.stringify(searchResult).substring(0, 100)}...`,\n              url: ''\n            });\n          }\n        }\n      }\n      // Handle Documentation search responses\n      else if (sourceName === 'Documentation' && item.json.body) {\n        results.push({\n          source: sourceName,\n          content: extractDocumentationContent(item.json.body),\n          url: item.json.url || 'https://docs.servicenow.com'\n        });\n      }\n      // Handle Community search responses\n      else if (sourceName === 'Community' && item.json.search_content) {\n        results.push({\n          source: sourceName,\n          content: extractCommunityContent(item.json),\n          url: item.json.url || 'https://www.servicenow.com/community'\n        });\n      }\n      // Handle Store search responses\n      else if (sourceName === 'ServiceNow Store' && item.json) {\n        results.push({\n          source: sourceName,\n          content: extractStoreContent(item.json),\n          url: item.json.url || 'https://store.servicenow.com'\n        });\n      }\n      // Handle Now Learning search responses\n      else if (sourceName === 'Now Learning' && item.json) {\n        results.push({\n          source: sourceName,\n          content: extractLearningContent(item.json),\n          url: item.json.url || 'https://nowlearning.service-now.com'\n        });\n      }\n      // Fallback for any other response format\n      else {\n        results.push({\n          source: sourceName,\n          content: `Content from ${sourceName} - Response format: ${JSON.stringify(item.json).substring(0, 100)}...`,\n          url: extractUrl(item.json) || ''\n        });\n      }\n    }\n  }\n\n  function extractContent(data, source) {\n    if (typeof data === 'string') {\n      const cleanText = data.replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').trim();\n      return cleanText.substring(0, 200);\n    }\n\n    if (data && data.results && Array.isArray(data.results)) {\n      return data.results.slice(0, 3).map(item => {\n        const title = item.title || item.name || '';\n        const desc = item.description || item.summary || item.content || '';\n        return `${title}: ${desc}`.substring(0, 150);\n      }).join('\\n');\n    }\n\n    if (data && data.items && Array.isArray(data.items)) {\n      return data.items.slice(0, 3).map(item => {\n        const title = item.title || item.name || '';\n        const desc = item.snippet || item.description || '';\n        return `${title}: ${desc}`.substring(0, 150);\n      }).join('\\n');\n    }\n\n    return `Content from ${source} - customize extraction based on actual API response format`;\n  }\n\n  function extractDocumentationContent(body) {\n    if (typeof body === 'string') {\n      return body.replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').trim().substring(0, 200);\n    }\n    return 'Documentation content available';\n  }\n\n  function extractCommunityContent(data) {\n    if (data.search_content && data.search_content.result && data.search_content.result.searchResults) {\n      return data.search_content.result.searchResults.slice(0, 2).map(item => {\n        if (item.columns && item.columns[1] && item.columns[1].value) {\n          const title = item.columns[1].value;\n          return title.replace(/<[^>]*>/g, '').substring(0, 100);\n        }\n        return 'Community content available';\n      }).join('\\n');\n    }\n    return 'Community discussions and articles available';\n  }\n\n  function extractStoreContent(data) {\n    if (data.results && Array.isArray(data.results)) {\n      return data.results.slice(0, 3).map(app => {\n        const name = app.name || app.title || 'ServiceNow App';\n        const desc = app.description || app.summary || '';\n        return `${name}: ${desc}`.substring(0, 120);\n      }).join('\\n');\n    }\n    return 'ServiceNow Store applications and integrations available';\n  }\n\n  function extractLearningContent(data) {\n    if (data.courses && Array.isArray(data.courses)) {\n      return data.courses.slice(0, 3).map(course => {\n        const title = course.title || course.name || 'Learning Content';\n        const desc = course.description || course.summary || '';\n        return `${title}: ${desc}`.substring(0, 120);\n      }).join('\\n');\n    }\n    return 'Now Learning courses and certifications available';\n  }\n\n  function extractUrl(data) {\n    if (data && data.url) return data.url;\n    if (data && data.link) return data.link;\n    if (data && data.results && data.results[0] && data.results[0].url) return data.results[0].url;\n    if (data && data.items && data.items[0] && data.items[0].link) return data.items[0].link;\n    return '';\n  }\n\n  return { searchResults: results };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        540
      ],
      "id": "8859d061-2218-4e68-a82e-1d4ca461d4b8",
      "name": "Content Processor"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4.1-nano-2025-04-14"
            },
            {
              "name": "messages",
              "value": "={{ [\n  {\n    \"role\": \"system\",\n    \"content\": \"You are a ServiceNow content summarizer. Create concise, actionable summaries of search results. Focus on key information, links, and practical guidance. Keep each source summary under 100 tokens. If you find any links / URL in the input given, they MUST be added together with the summery. The links are important.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"Summarize these ServiceNow search results for the question: \\\"\" + $('Initiate').first().json.body.question + \"\\\"\\n\\nSearch Results:\\n\" + JSON.stringify($('Content Processor').first().json.searchResults, null, 2)\n  }\n] }}"
            },
            {
              "name": "max_tokens",
              "value": 500
            },
            {
              "name": "temperature",
              "value": 0.3
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        540
      ],
      "id": "548ad02d-a760-48a8-aec2-c597eab35393",
      "name": "Content Summarizer",
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "enhance-prompt-1",
              "name": "prompt",
              "value": "={{ $('Generate Key').first().json.prompt }}\n\nSEARCH CONTEXT FOR YOUR RESPONSE:\n\n{{ $('Content Summarizer').first().json.choices[0].message.content }}\n\nBased on this curated information, provide your ServiceNow guidance focusing on practical implementation.\n\nRESPONSE GUIDELINES:\n- You have been provided with curated search results above (when available)\n- Focus on synthesizing and applying the provided information\n- Provide practical, actionable guidance based on the search context\n- Include URLs from the search results when referencing specific resources\n- If search context is not available, provide general ServiceNow best practices",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1480,
        540
      ],
      "id": "1f6eebbc-93f2-4a7a-b73a-ccf97157c6fc",
      "name": "Prompt Enhancer"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=attachment",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2040,
        -80
      ],
      "id": "c354b92e-f476-41f1-acec-e1b4425802e6",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9832117c-f5e4-4f8e-a2fb-96a0f05dbdb8",
              "name": "attachment",
              "value": "={{ $('Initiate').item.json.body.file }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1820,
        -80
      ],
      "id": "4220ed20-1e46-43ac-9070-d1ba35d9df13",
      "name": "Set attachment"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "87e4631e-8040-48d6-96e8-fb3a77444d3e",
              "leftValue": "={{ $('Initiate').item.json.body.file }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1620,
        40
      ],
      "id": "8b96a7ca-3032-4883-a540-086e865f0dd4",
      "name": "File provided"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Question from the user: \"{{ $('Initiate').first().json.body.question }}\"",
        "options": {
          "systemMessage": "={{ $('File provided').item.json.prompt }}",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2340,
        60
      ],
      "id": "be601dd3-7e17-4d56-9a4f-931b87e0c7b9",
      "name": "Claude AI system"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Initiate').first().json.body.sessionkey }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2400,
        280
      ],
      "id": "4ef2e989-6840-494d-bbe0-0460cbe8cbb1",
      "name": "Chat Memory",
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Searches a knowledge base of previously saved question-and-answer pairs. This tool is designed to retrieve useful answers based on past user queries.\nUse this tool by inputting a question. If similar questions have been asked before, it will return the most relevant answers previously marked as helpful.\n\nInput:\nA natural language question from the user.\n\nOutput:\nOne or more relevant answers from the knowledge base, if any similar questions are found.\n\nExample usage:\nInput: \"How do I reset my database password?\"\nOutput: \"To reset your database password, go to the admin panel, select 'Security', then choose 'Reset Password'.\"",
        "tableName": "qa_knowledge_base",
        "options": {
          "columnNames": {
            "values": {
              "vectorColumnName": "question_embedding",
              "contentColumnName": "answer"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        2500,
        320
      ],
      "id": "3c440751-5d9d-4bda-9d21-2550ddd71385",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2580,
        520
      ],
      "id": "e6f09e5a-2f4c-42b7-b75c-f814ef9780eb",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69ed723c-3456-4b43-8162-b12916afbcca",
              "leftValue": "={{ $('Initiate').item.json.body.searching }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -260,
        320
      ],
      "id": "64cd10fa-c348-4815-9e39-51a93ee25c2e",
      "name": "Searchmode1"
    },
    {
      "parameters": {
        "model": "={{ $('Initiate').first().json.body.aiModel }}",
        "options": {
          "maxTokens": "={{ $('Generate Key').first().json.max_tokens }}",
          "temperature": "={{ $('Generate Key').first().json.temperature }}",
          "topP": "={{ $('Generate Key').first().json.top_p }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2260,
        320
      ],
      "id": "f24b85f0-86f2-4fd5-ae09-712db0fafe34",
      "name": "OpenRouter",
      "credentials": {
        "openRouterApi": {
          "id": "OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Initiate": {
      "main": [
        [
          {
            "node": "Set Basic Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Searchmode1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append Recommendation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Documentation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Script",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Troubleshoot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Resposne",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Recommendation": {
      "main": [
        [
          {
            "node": "Generate Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Documentation": {
      "main": [
        [
          {
            "node": "Generate Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Script": {
      "main": [
        [
          {
            "node": "Generate Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Key": {
      "main": [
        [
          {
            "node": "Create Work Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Basic Variables": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Work Record": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Return result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll result": {
      "main": [
        [
          {
            "node": "Set database key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set database key": {
      "main": [
        [
          {
            "node": "Query workitem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query workitem": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Troubleshoot": {
      "main": [
        [
          {
            "node": "Generate Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add QA Pair Webhook": {
      "main": [
        [
          {
            "node": "Extract QA Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract QA Data": {
      "main": [
        [
          {
            "node": "Generate Question Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Question Embedding": {
      "main": [
        [
          {
            "node": "Generate Answer Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Answer Embedding": {
      "main": [
        [
          {
            "node": "Combine Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Data": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Success embedding response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Query Optimizer": {
      "main": [
        [
          {
            "node": "Search Query Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Query Prep": {
      "main": [
        [
          {
            "node": "ServiceNow KB Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Developer Portal Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Community Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "ServiceNow Store Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ServiceNow KB Search": {
      "main": [
        [
          {
            "node": "Search Results Collector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Developer Portal Search": {
      "main": [
        [
          {
            "node": "Search Results Collector",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Community Search": {
      "main": [
        [
          {
            "node": "Search Results Collector",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "ServiceNow Store Search": {
      "main": [
        [
          {
            "node": "Search Results Collector",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Search Results Collector": {
      "main": [
        [
          {
            "node": "Content Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Processor": {
      "main": [
        [
          {
            "node": "Content Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Summarizer": {
      "main": [
        [
          {
            "node": "Prompt Enhancer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Enhancer": {
      "main": [
        [
          {
            "node": "File provided",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI system": {
      "main": [
        [
          {
            "node": "Save response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Claude AI system",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "Claude AI system",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Searchmode1": {
      "main": [
        [
          {
            "node": "Search Query Optimizer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File provided",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "Claude AI system",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Claude AI system",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set attachment": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File provided": {
      "main": [
        [
          {
            "node": "Set attachment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claude AI system",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "TEMPLATE_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "TEMPLATE_INSTANCE_ID"
  },
  "id": "TEMPLATE_WORKFLOW_ID",
  "tags": []
}